body {
      width: 100%;
      background-color: black;
      padding: 0 30vw;
      box-sizing: border-box;
}

@media screen and (max-width: 1200px){
      body{
            padding: 0 20px;
      }
}

.langauage {
      margin-top: 40px;
}

.langauage .btn:first-child {
      margin-right: -2px;
}

.langauage .btn:hover {
      background-color: red;
      color: white;
}

.langauage .btn.active {
      background-color: red;
      color: white;
}

.langauage .btn {
      width: 80px;
      height: 32px;
      line-height: 32px;
      text-align: center;
      border: none;
      outline: none;
      border: 2px solid #eee;
      color: white;
      cursor: pointer;
      font-size: 12px;
      font-weight: 600;
      transition: all ease 0.3s;
      padding: 0;
      cursor: pointer;
      background-color: transparent;
}

#MoneyCanvas {
      width: 100%;
      overflow: hidden;
}

#question:hover{
      background-color: red;
      color: white;
}

#question {
      width: 100%;
      box-sizing: border-box;
      margin: 40px 0;
      padding: 20px;
      border-top: 2px solid #eee;
      border-bottom: 2px solid #eee;
      transition: all ease 0.3s;
}

#question p{
      text-align: left;
}

.question_text {
      line-height: 1.6;
      letter-spacing: 1px;
      font-size: 24px;
      margin: 0;
      margin-bottom: 20px;
      text-align: justify;
      color: white;
      font-family: 'Courier New', Courier, monospace;
}

.data_wrap {
      width: 100%;
      box-sizing: border-box;
}

.options .left .btn_start:hover {
      background-color: red;
      color: white;
}

.options .left .btn_start {
      width: 100px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      border: none;
      outline: none;
      border: 2px solid #eee;
      color: white;
      cursor: pointer;
      font-size: 20px;
      font-weight: 600;
      transition: all ease 0.3s;
      padding: 0;
      cursor: pointer;
      background-color: transparent;
      font-family: 'Courier New', Courier, monospace;
}

.options {
      margin-bottom: 40px;
}

.options .right {
      font-size: 24px;
      font-weight: 600;
      color: white;
}

.center .title {
      font-size: 20px;
      color: white;
      padding: 10px 20px;
}

.center .rank_card {
      background-color: #111;
      width: 100%;
      box-sizing: border-box;
}

.random_rank{
      margin-bottom: 20px;
}

.rules {
      width: 100%;
      font-size: 18px;
      line-height: 1.6;
      color: white;
      margin: 40px 0;
      font-family: 'Courier New', Courier, monospace;
}

.rules .btn_do_rules:hover {
      background-color: red;
      color: white;
}

.rules .btn_do_rules {
      width: 100%;
      height: 40px;
      line-height: 40px;
      text-align: center;
      border: none;
      background-color: transparent;
      outline: none;
      border: 2px solid white;
      color: white;
      cursor: pointer;
      font-size: 20px;
      font-weight: 600;
      transition: all ease 0.3s;
      padding: 0;
      margin-top: 20px;
}

.diff_dis {
      font-size: 20px;
      color: white;
}

.diff_dis .diff {
      box-shadow: 0 2px 2px rgba(238, 238, 238, 0.6);
      border: 2px solid #eee;
}

#MoneyRandom {
      height: 250px;
      background-color: transparent;
}

#MoneyRank {
      height: 250px;
}

#diff {
      width: 100%;
      height: 40px;
      box-sizing: border-box;
      background-color: transparent;
}

#diffChange {
      width: 100%;
      height: 300px;
      box-sizing: border-box;
      transition-property: all;
      background-color: #111;
      margin: 40px 0;
}