#MoneyCanvas {
      width: 100vw;
      height: 100vh;
      overflow: hidden;
}

#question {
      width: 20%;
      box-sizing: border-box;
      padding: 0 60px;
      box-shadow: 0 4px 12px #eee;
}

.question_text {
      line-height: 2.4;
      letter-spacing: 1px;
      font-size: 18px;
      margin: 0;
      margin-bottom: 20px;
      text-align: justify;
      color: #1a1a1a;
      font-weight: 600;
}

.data_wrap {
      width: 80%;
      box-sizing: border-box;
      padding: 4vh 60px;
      background-color: whitesmoke;
}

.options .left .btn_start {
      width: 80px;
      height: 4vh;
      line-height: 4vh;
      text-align: center;
      border: none;
      background-color: transparent;
      outline: none;
      border: 2px solid #1a1a1a;
      color: #1a1a1a;
      cursor: pointer;
      font-size: 15px;
      font-weight: 600;
      transition: all ease 0.3s;
      padding: 0;
}

.options .right {
      font-size: 24px;
      font-weight: 600;
      color: #1a1a1a;
}

.center .title {
      font-size: 18px;
      font-weight: 600;
      color: white;
      padding: 10px;
}

.center .rank_card {
      background-color: white;
      width: 40%;
}

.rules {
      width: 20%;
      padding: 0 40px;
      font-size: 15px;
      line-height: 2;
      color: #666;
}

.rules .btn_do_rules {
      width: 100%;
      height: 36px;
      line-height: 36px;
      text-align: center;
      border: none;
      background-color: transparent;
      outline: none;
      border: 2px solid #1a1a1a;
      color: #1a1a1a;
      cursor: pointer;
      font-size: 15px;
      font-weight: 600;
      transition: all ease 0.3s;
      padding: 0;
}

.diff_dis{
      font-size: 18px;
      font-weight: 600;
      color: #1a1a1a;
}

#MoneyRandom {
      height: 250px;
}

#MoneyRank {
      height: 250px;
}

#diff {
      width: 100%;
      height: 40px;
      background-color: white;
}

#diffChange {
      width: 100%;
      height: calc(100vh - 20px - 40px - 10px - 20px - 20px - 290px - 20px - 4vh - 8vh);
      transition-property: all;
      background-color: white;
}